/************* START TOP MENU **************/

#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1d1d2b;
  z-index: 9;
}

#top-menu > div:not(.logo) {
  float: left;
}

#top-menu .logo {
  float: right;
}

#top-menu .logo > div {
  float: left;
}

#top-menu .title {
  border-right: 1px solid #191924;
  min-width: 270px;
  cursor: pointer;
}

#top-menu .title h2 {
  font-size: 22px;
  padding: 22px 10px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

#top-menu .top-menu-container {
  margin-left: 13px;
}

#top-menu .top-menu-container ul {
  overflow: hidden;
  margin: 0;
}

#top-menu .top-menu-container li {
  float: left;
}

#top-menu .top-menu-container li a {
  text-decoration: none;
  display: inline-block;
  padding: 24px 15px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#top-menu .top-menu-container li a:hover {
  color: #cd151e;
}

#top-menu .logo {
  margin: 3px 25px 11px 0;
}

#top-menu .logo img {
  height: 50px;
}

#mobile-main-menu {
  display: none;
  cursor: pointer;
}

#mobile-main-menu {
  padding: 24px 15px;
}

#mobile-main-menu img {
  height: 16px;
}

#top-menu #top-menu-link {
  -webkit-transition: max-height .5s ease;
  -moz-transition: max-height .5s ease;
  -ms-transition: max-height .5s ease;
  -o-transition: max-height .5s ease;
  transition: max-height .5s ease;
  overflow: hidden;
}

#top-menu #top-menu-link.active {
  max-height: 500px;
}

/************* END TOP MENU **************/


@media (max-width: 1020px) {
  #top-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 1px solid #191924;
  }

  #top-menu #mobile-main-menu {
    order: 0;
  }

  #top-menu .title {
    order: 1;
    width: calc(100% - 95px);
    text-align: center;
    min-width: 1px;
  }

  #top-menu .logo {
    order: 2;
  }

  #top-menu .top-menu-container {
    position: fixed;
    background-color: #1d1d2b;
    left: 0;
    right: 0;
    top: 67px;
    margin: 0;
    max-height: 0;
  }

  #top-menu .top-menu-container ul {
    padding: 10px 0;
  }

  #top-menu .top-menu-container li {
    float: none;
  }

  #top-menu .top-menu-container li a {
    display: block;
    padding: 10px 10px;
  }

  #mobile-main-menu {
    display: inline-block;
  }

}

@media (max-width: 600px) {
  #top-menu .title h2 {
    padding: 15px;
  }

  #top-menu .logo {
    margin: 0 15px 0 0;
  }

  #mobile-main-menu {
    padding: 17px 15px;
  }

  #top-menu .top-menu-container {
    top: 105px;
  }

}
