@import "../custom";
@import "./mixins";
@import "mixins/breakpoints";

body {
  font-family: 'Roboto', sans-serif;
}

body,html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

// Form validation
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.text-red {
  color: #a94442;
}

/************* START MAIN **************/

.main {
  width: calc(100% - $sidebar-width);
  height: 100%;
  margin-left: $sidebar-width;
  margin-top: 68px;
//  padding: 15px;
  box-sizing: border-box;

  @include media-breakpoint-down(lg) {
      width: 100%;
      margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
      margin-top: 55px;
  }

  .content-header {
    border-left: 3px solid #babfc4;
    padding-left: 15px;
  }

  .content-header h2 {
    /*font-size: 34px;*/
    font-weight: 700;
    color: #1d1d2b;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
    /*line-height: 23px;*/
  }

  .content-header h2 a {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    line-height: 0;
  }

  .content-header h2 img {
    width: 15px;
    vertical-align: top;
  }

  .content-header p {
    font-size: 18px;
    color: #1d1d2b;
    font-weight: 300;
    line-height: 30px;
  }

  .content-box {
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 30px;
  }
}

/************* END MAIN **************/

/************* START CONTENT **************/

.content {
  padding: 15px;

  p,
  li:not([class^='L']) ,
  .accordion h4 {
    font-weight: 300;
    font-size: 16px;
    color: #1d1d2b;
  }

  p {
    line-height: 30px;
  }

  p,
  li:not([class^='L']) {
    line-height: 30px;
  }

  li:not([class^='L']) a,
  p a {
    /*color: #0808df;*/
    text-decoration: none;
  }

  .bash-code {
    color: #55555c !important;
    padding: 0 5px;
    border-radius: 2px;
    background-color: #eef5f9 !important;
  }

  .code-container {
    border-radius: 2px;
    margin: 15px 0;
    background-color: #eef5f9 !important;
    padding: 15px;
  }

  .code-container:empty {
    display: none;
  }

  .code-style {
    font-size: 16px;
    color: #1d1d2b;
  }

  .bash-code,
  .code-container,
  .code-style {
    font-family: 'Source Code Pro' !important;
  }

  .section:not(:first-child) {
    border-top: 1px solid #babfc4;
    padding: 30px 0 0;
    margin: 30px 0 0;
  }

  .section > h3 {
    color: #1d1d2b;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .list-container ul {
    padding: 0;
  }

  .list-container ul li {
    list-style: none;
  }

  .list-container ul li:before {
    content: '•';
    display: inline-block;
    margin-right: 5px;
  }

  .list-container ol {
    list-style: decimal;
    margin-left: 18px;
  }

  .accordion {
    position: relative;
  }

  .accordion:not(:first-child) {
    height: 90vh;
    border-top: 1px dashed #babfc4;
    padding: 30px 35px 0;
    margin-top: 30px;
  }

  .accordion:first-child {
    padding: 0 35px;
    margin-top: 30px;
  }

  .accordion .accordion-header {
    color: #55555c;
    cursor: pointer;
  }

  .accordion .accordion-header h4 {
    font-family: 'Source Code Pro';
    font-size: 16px;
  }

  .accordion .accordion-body {
    display: none;
    margin-top: 10px;
  }

  .accordion.active .accordion-body {
    display: block;
  }

  .accordion.notEmpty:before {
    content: '';
    background-image: url('images/anactive.svg');
    background-size: 8px 13px;
    width: 8px;
    height: 13px;
    position: absolute;
    top: 32px;
    left: 15px;
  }

  .accordion.notEmpty:first-child:before {
    top: 2px;
  }

  .accordion.active:before {
    content: '';
    background-image: url('images/active.svg');
    background-size: 12px 9px;
    width: 12px;
    height: 9px;
    top: 36px;
  }

  .accordion.active:after {
    content: '';
    width: 1px;
    height: calc(100% - 55px);
    position: absolute;
    bottom: 0;
    left: 20.5px;
    background-color: #20202f;
  }

  .item > h4 {
    font-size: 22px;
    margin: 20px 0 15px;
  }
}
/************* END CONTENT **************/

/************* START LOGIN **************/

.login-container
{
  height : 100%;
  padding: 25px;

  .form-box {
    box-shadow: 0px 5px 20px 0px rgba(40, 40, 40, 1);
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  }

  .form-top {
  	overflow: hidden;
  	padding: 0 25px 15px 25px;
  	background: #fff;
  	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  	text-align: left;
  }

  .form-top-left {
  	float: left;
  	width: 75%;
  	padding-top: 25px;
  }

  .form-top-left h3 { margin-top: 0; }

  .form-top-right {
  	float: left;
  	width: 25%;
  	padding-top: 5px;
  	font-size: 66px;
  	color: #ddd;
  	line-height: 100px;
  	text-align: right;
  }

  .form-bottom {
  	padding: 25px 25px 30px 25px;
  	background: #eee;
  	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  	text-align: left;
  }

  .form-bottom form button.btn {
  	width: 100%;
  }

  button.btn {
  	height: 50px;
      margin: 0;
      padding: 0 20px;
      vertical-align: middle;
      background: $cap-orange;
      border: 0;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      line-height: 50px;
      color: #fff;
      -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
      text-shadow: none;
      -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
      -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
  }

  button.btn:hover { opacity: 0.6; color: #fff; }

  button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

  button.btn:focus { outline: 0; opacity: 0.6; background: $cap-orange; color: #fff; }

  button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: $cap-orange; color: #fff; }
}
/************* END LOGIN **************/

/************* START MEDIA **************/

pre {
  word-wrap: normal;
  word-break: normal;
}
