<md-card>
  <md-card-title>{{manifestation.fields.nom_de_la_manifestation}}</md-card-title>
  <md-card-content class="secondary">
    <div class="commune">
    {{manifestation.fields.commune}}
    </div>
    <div class="horaires">
    {{manifestation.fields.horaires}}
    </div>
    <div class="description">
    {{manifestation.fields.descriptif_long}}
    </div>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button color="primary">SNIFF</button>
    <button md-button color="primary">WOOF</button>
  </md-card-actions>
</md-card>